{% load static %}
<!--==============================
	Header Area
==============================-->
<header class="th-header header-layout1">
    <div class="header-top">
        <div class="container th-container">
            <div class="row justify-content-center justify-content-xl-between align-items-center">
                <div class="col-auto d-none d-md-block">
                    <div class="header-links">
                        <ul>
                            <li class="d-none d-xl-inline-block"><i class="fa-sharp fa-regular  fa-location-dot"></i>
                                <span>7105 Futian District, Shenzhen, Guangdong Province, China, 518037</span>
                            </li>
                            <li class="d-none d-xl-inline-block"><i class="fa-regular fa-clock"></i>
                                <span>Sun to Friday: 8.00 am - 7.00 pm</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="header-right">
                        <div class="header-links">
                            <ul>
                                <li class="d-none d-md-inline-block"><a href="{% url 'contact' %}">Support</a></li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-wrapper">
        <!-- Main Menu Area -->
        <div class="menu-area">
            <div class="container th-container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <div class="header-logo">
                            <a href="{% url 'index' %}"><img src="{% static 'assets/img/assurance_logo.png' %}" style="height:90px; width:110px;" alt="Assurance Travels"></a>
                        </div>
                    </div>
                    <div class="col-auto me-xl-auto">
                        <nav class="main-menu d-none d-xl-inline-block">
                            <ul>
                                <li class="{% if request.path == '/' %}active{% endif %}">
                                    <a href="{% url 'index' %}">Home</a>
                                </li>
                                <li class="{% if request.path == '/destination/' %}active{% endif %}">
                                    <a href="{% url 'destination' %}">Destination</a>
                                </li>
                                <li class="{% if request.path == '/vacation/' %}active{% endif %}">
                                    <a href="{% url 'vacation' %}">Vacation</a>
                                </li>
                                <li class="{% if request.path == '/about/' %}active{% endif %}">
                                    <a href="{% url 'about' %}">About Us</a>
                                </li>
                                <li class="{% if request.path == '/contact/' %}active{% endif %}">
                                    <a href="{% url 'contact' %}">Contact us</a>
                                </li>
                                <li class="{% if request.path == '/visa_application/' %}active{% endif %}">
                                    <a href="{% url 'visa_application' %}">Application</a>
                                </li>
                            </ul>
                        </nav>
                        <button type="button" class="th-menu-toggle d-block d-xl-none"><i class="far fa-bars"></i></button>
                    </div>
                    
                    <div class="col-auto d-none d-xl-block">
                        <div class="header-button">
                            <a href="{% url 'inquire' %}" class="th-btn style3 th-icon">Send Inquiry</a>

                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="logo-bg" data-mask-src="{% static 'assets/img/assurance_logo.png' %}" style="height:150px; width:170px;"></div> {% endcomment %}
        </div>
    </div>
</header>