{% load static %}
<!--==============================
    Sidemenu
============================== -->
<div class="sidemenu-wrapper sidemenu-info ">
    <div class="sidemenu-content">
        <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
        <div class="widget  ">
            <div class="th-widget-about">
                <div class="about-logo">
                    <a href="{% url 'index' %}"><img src="{% static 'assets/img/assurance_logo.png' %}" style="height:100px; width:120px;" alt="Assurance Travels"></a>
                </div>
                
            </div>
        </div>
        
        <div class="widget  ">
            <h3 class="widget_title">Get In Touch</h3>
            <div class="th-widget-contact">
                <div class="info-box_text">
                    <div class="icon">
                        <img src="{% static 'assets/img/icon/phone.svg' %}" alt="img">
                    </div>
                    <div class="details">
                        <p><a href="tel:+8619587412143" class="info-box_link"></a>+8619587412143</p>
                    </div>
                </div>
                <div class="info-box_text">
                    <div class="icon">
                        <img src="{% static 'assets/img/icon/envelope.svg' %}" alt="img">
                    </div>
                </div>
                <div class="info-box_text">
                    <div class="icon"><img src="{% static 'assets/img/icon/location-dot.svg' %}" alt="img"></div>
                    <div class="details">
                        <p>77105 Futian District, Shenzhen, Guangdong Province, China, 518037</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popup-search-box">
    <button class="searchClose"><i class="fal fa-times"></i></button>
    <form action="#">
        <input type="text" placeholder="What are you looking for?">
        <button type="submit"><i class="fal fa-search"></i></button>
    </form>
</div><!--==============================
Mobile Menu
============================== -->
<div class="th-menu-wrapper onepage-nav">
    <div class="th-menu-area text-center">
        <button class="th-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo">
            <a href="{% url 'index' %}"><img src="{% static 'assets/img/assurance_logo.png' %}" style="height:100px; width:120px;" alt="Assurance Travels"></a>
        </div>
        <div class="th-mobile-menu">
            <ul>
                <li class="{% if request.path == '/' %}active{% endif %}">
                    <a href="{% url 'index' %}">Home</a>
                </li>
                <li class="{% if request.path == '/destination/' %}active{% endif %}">
                    <a href="{% url 'destination' %}">Destination</a>
                </li>
                <li class="{% if request.path == '/vacation/' %}active{% endif %}">
                    <a href="{% url 'vacation' %}">Vacation</a>
                </li>
                <li class="{% if request.path == '/about/' %}active{% endif %}">
                    <a href="{% url 'about' %}">About Us</a>
                </li>
                <li class="{% if request.path == '/contact/' %}active{% endif %}">
                    <a href="{% url 'contact' %}">Contact us</a>
                </li>
                <li class="{% if request.path == '/contact/' %}active{% endif %}">
                    <a href="{% url 'contact' %}">Application</a>
                </li>
            </ul>
        </div>
    </div>
</div>