{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock title %}
{% block content %}

 <!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-wrapper " data-bg-src="{% static 'assets/img/bg/breadcumb-bg.jpg' %}">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">About Us</h1>
            <ul class="breadcumb-menu">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</div><!--==============================
About Area  
==============================-->
<div class="about-area position-relative overflow-hidden overflow-hidden space" id="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="img-box3">
                    <div class="img1">
                        <img src="{% static 'assets/img/normal/about_3_1.jpg' %}" alt="About">
                    </div>
                    <div class="img2">
                        <img src="{% static 'assets/img/normal/about_3_2.jpg' %}" alt="About">
                    </div>
                    <div class="img3 movingX">
                        <img src="{% static 'assets/img/normal/about_3_3.jpg' %}" alt="About">
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="ps-xl-4">
                    <div class="title-area mb-20">
                        <span class="sub-title style1 ">Welcome To Assurance Travels</span>
                        <h2 class="sec-title mb-20 pe-xl-5 me-xl-5 heading">We are world reputeted travel agency</h2>
                    </div>
                    <p class="pe-xl-5">There are many variations of passages of available but the majority have suffered alteration in some form, by injected hum randomised words.</p>
                    <p class="mb-30 pe-xl-5"> Leiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
                    <div class="about-item-wrap">
                        <div class="about-item style2">
                            <div class="about-item_img"><img src="{% static 'assets/img/icon/about_1_1.svg' %}" alt=""></div>
                            <div class="about-item_centent">
                                <h5 class="box-title">Exclusive Trip</h5>
                                <p class="about-item_text">There are many variations of passages of available but the
                                    majority.</p>
                            </div>
                        </div>
                        <div class="about-item style2">
                            <div class="about-item_img"><img src="{% static 'assets/img/icon/about_1_2.svg' %}" alt=""></div>
                            <div class="about-item_centent">
                                <h5 class="box-title">Safety First Always</h5>
                                <p class="about-item_text">There are many variations of passages of available but the majority.</p>
                            </div>
                        </div>
                        <div class="about-item style2">
                            <div class="about-item_img"><img src="{% static 'assets/img/icon/about_1_3.svg' %}" alt=""></div>
                            <div class="about-item_centent">
                                <h5 class="box-title">Professional Guide</h5>
                                <p class="about-item_text">There are many variations of passages of available but the
                                    majority.</p>
                            </div>
                        </div>
                    </div>
                    <div class="mt-35"><a href="contact.html" class="th-btn style3 th-icon">Contact With Us</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-mockup movingX d-none d-xxl-block" data-top="4%" data-left="2%">
        <img src="{% static 'assets/img/shape/shape_2_1.png' %}" alt="shape">
    </div>
    <div class="shape-mockup jump d-none d-xxl-block" data-top="28%" data-right="5%">
        <img src="{% static 'assets/img/shape/shape_2_2.png' %}" alt="shape">
    </div>
    <div class="shape-mockup spin d-none d-xxl-block" data-bottom="18%" data-left="2%">
        <img src="{% static 'assets/img/shape/shape_2_3.png' %}" alt="shape">
    </div>
    <div class="shape-mockup movixgX d-none d-xxl-block" data-bottom="18%" data-right="2%">
        <img src="{% static 'assets/img/shape/shape_2_4.png' %}" alt="shape">
    </div>
</div> 
<!--==============================
elements Area  
==============================-->
<div class="elements-sec bg-white overflow-hidden">
    <div class="container-fluid">
        <div class="tags-container relative"></div>
    </div>
</div><!--==============================
Testimonial Area  
==============================-->
<section class="testi-area overflow-hidden space-bottom" id="testi-sec">
    <div class="container-fluid p-0">
        <div class="title-area mb-20 text-center">
            <span class="sub-title">Testimonial</span>
            <h2 class="sec-title">What Client Say About us</h2>
        </div>
        <div class="slider-area">
            <div class="swiper th-slider testiSlider1 has-shadow" id="testiSlider1" data-slider-options='{"breakpoints":{"0":{"slidesPerView":1},"767":{"slidesPerView":"2","centeredSlides":"true"},"992":{"slidesPerView":"2","centeredSlides":"true"},"1200":{"slidesPerView":"2","centeredSlides":"true"},"1400":{"slidesPerView":"3","centeredSlides":"true"}}}'>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testi-card">
                            <div class="testi-card_wrapper">
                                <div class="testi-card_profile">
                                    <div class="testi-card_avater">
                                        <img src="{% static 'assets/img/testimonial/testi_1_1.jpg' %}" alt="testimonial">
                                    </div>
                                    <div class="media-body">
                                        <h3 class="box-title">Maria Doe</h3>
                                        <span class="testi-card_desig">Traveller</span>
                                    </div>
                                </div>
                                <div class="testi-card_review">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>

                            <p class="testi-card_text">“A home that perfectly blends sustainability with luxury until I discovered Ecoland Residence. From the moment I stepped into this community, I knew it was where I wanted to live. The commitment to eco-friendly living”</p>
                            <div class="testi-card-quote">
                                <img src="{% static 'assets/img/icon/testi-quote.svg' %}" alt="img">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testi-card">
                            <div class="testi-card_wrapper">
                                <div class="testi-card_profile">
                                    <div class="testi-card_avater">
                                        <img src="{% static 'assets/img/testimonial/testi_1_2.jpg' %}" alt="testimonial">
                                    </div>
                                    <div class="media-body">
                                        <h3 class="box-title">Andrew Simon</h3>
                                        <span class="testi-card_desig">Traveller</span>
                                    </div>
                                </div>
                                <div class="testi-card_review">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>

                            <p class="testi-card_text">“The home boasts sleek, contemporary architecture with clean lines and expansive windows, allowing natural light to flood the interiors It incorporates passive design principles”</p>
                            <div class="testi-card-quote">
                                <img src="{% static 'assets/img/icon/testi-quote.svg' %}" alt="img">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testi-card">
                            <div class="testi-card_wrapper">
                                <div class="testi-card_profile">
                                    <div class="testi-card_avater">
                                        <img src="{% static 'assets/img/testimonial/testi_1_1.jpg' %}" alt="testimonial">
                                    </div>
                                    <div class="media-body">
                                        <h3 class="box-title">Alex Jordan</h3>
                                        <span class="testi-card_desig">Traveller</span>
                                    </div>
                                </div>
                                <div class="testi-card_review">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>

                            <p class="testi-card_text">“Solar panels adorn the roof, harnessing renewable energy to power the home and even feed excess electricity back into the grid. High-performance insulation and triple-glazed”</p>
                            <div class="testi-card-quote">
                                <img src="{% static 'assets/img/icon/testi-quote.svg' %}" alt="img">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testi-card">
                            <div class="testi-card_wrapper">
                                <div class="testi-card_profile">
                                    <div class="testi-card_avater">
                                        <img src="{% static 'assets/img/testimonial/testi_1_2.jpg' %}" alt="testimonial">
                                    </div>
                                    <div class="media-body">
                                        <h3 class="box-title">Maria Doe</h3>
                                        <span class="testi-card_desig">Traveller</span>
                                    </div>
                                </div>
                                <div class="testi-card_review">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>

                            <p class="testi-card_text">A sophisticated rainwater harvesting system collects and filters rainwater for irrigation and non-potable uses, reducing reliance on municipal water sources. Greywater systems</p>
                            <div class="testi-card-quote">
                                <img src="{% static 'assets/img/icon/testi-quote.svg' %}" alt="img">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testi-card">
                            <div class="testi-card_wrapper">
                                <div class="testi-card_profile">
                                    <div class="testi-card_avater">
                                        <img src="{% static 'assets/img/testimonial/testi_1_1.jpg' %}" alt="testimonial">
                                    </div>
                                    <div class="media-body">
                                        <h3 class="box-title">Angelina Rose</h3>
                                        <span class="testi-card_desig">Traveller</span>
                                    </div>
                                </div>
                                <div class="testi-card_review">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>

                            <p class="testi-card_text">Throughout the interior, eco-friendly materials like reclaimed wood, bamboo flooring, and recycled glass countertops create a luxurious yet sustainable ambiance.</p>
                            <div class="testi-card-quote">
                                <img src="{% static 'assets/img/icon/testi-quote.svg' %}" alt="img">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testi-card">
                            <div class="testi-card_wrapper">
                                <div class="testi-card_profile">
                                    <div class="testi-card_avater">
                                        <img src="{% static 'assets/img/testimonial/testi_1_1.jpg' %}" alt="testimonial">
                                    </div>
                                    <div class="media-body">
                                        <h3 class="box-title">Maria Doe</h3>
                                        <span class="testi-card_desig">Traveller</span>
                                    </div>
                                </div>
                                <div class="testi-card_review">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>

                            <p class="testi-card_text">“A home that perfectly blends sustainability with luxury until I discovered Ecoland Residence. From the moment I stepped into this community, I knew it was where I wanted to live. The commitment to eco-friendly living”</p>
                            <div class="testi-card-quote">
                                <img src="{% static 'assets/img/icon/testi-quote.svg' %}" alt="img">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="slider-pagination"></div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}