{% extends 'base.html' %}
{% load static %}
{% block title %} Contact {% endblock title %}
{% block content %}

<!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-wrapper " data-bg-src="{% static 'assets/img/bg/breadcumb-bg.jpg' %}">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Contact Us</h1>
            <ul class="breadcumb-menu">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
</div><!--==============================
Contact Area  
==============================-->

<div class="space">
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title">Get In Touch</span>
            <h2 class="sec-title">Our Contact Information</h2>
        </div>
        <div class="row gy-4 justify-content-center">
            <div class="col-xl-4 col-lg-6">
                {% for page in page_detail %}
                <div class="about-contact-grid style2">
                    <div class="about-contact-icon">
                        <img src="{% static 'assets/img/icon/location-dot2.svg' %}" alt="">
                    </div>
                    <div class="about-contact-details">
                        <h6 class="box-title">Our Address</h6>
                        <p class="about-contact-details-text">{{page.address_1}}</p>
                        {% comment %} <p class="about-contact-details-text">Road, New York, Canada</p> {% endcomment %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-xl-4 col-lg-6">
                {% for page in page_detail %}
                <div class="about-contact-grid style2">
                    <div class="about-contact-icon">
                        <img src="{% static 'assets/img/icon/location-dot2.svg' %}" alt="">
                    </div>
                    <div class="about-contact-details">
                        <h6 class="box-title">Our Address</h6>
                        <p class="about-contact-details-text">{{page.address_2}}</p>
                        {% comment %} <p class="about-contact-details-text">Road, New York, Canada</p> {% endcomment %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="about-contact-grid">
                    <div class="about-contact-icon">
                        <img src="{% static 'assets/img/icon/call.svg' %}" alt="">
                    </div>
                    {% for page in page_detail %}
                    <div class="about-contact-details">
                        <h6 class="box-title">Phone Number</h6>
                        <p class="about-contact-details-text"><a href="tel:{{page.phone_number}}">{{page.phone_number}}</a></p>
                        {% comment %} <p class="about-contact-details-text"><a href="tel:01234567890">+09 876 543 210</a></p> {% endcomment %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="about-contact-grid">
                    <div class="about-contact-icon">
                        <img src="{% static 'assets/img/icon/mail.svg' %}" alt="">
                    </div>

                    {% for page in page_detail %}
                    <div class="about-contact-details">
                        <h6 class="box-title">Email Address</h6>
                        <p class="about-contact-details-text"><a href="{{page.email_1}}">{{page.email_1}}</a></p>
                        <p class="about-contact-details-text"><a href="{{page.email_2}}">{{page.email_2}}</a></p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!--==============================
Video Area  
==============================-->
<div class="space-extra2-top space-extra2-bottom" data-bg-src="a{% static 'ssets/img/bg/video_bg_1.jpg' %}">
    <div class="container">
        <div class="row flex-row-reverse justify-content-center align-items-center">
            <div class="col-lg-6">
                <div class="video-box1">
                    <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn style2 popup-video"><i class="fa-sharp fa-solid fa-play"></i></a>
                </div>

            </div>
            <div class="col-lg-6">
                {% if messages %}
                <div>
                    {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                
                <div>
                    <form action="" method="POST" class="contact-form style2 ajax-contact">
                        {% csrf_token %}
                        <h3 class="sec-title mb-30 text-capitalize">Make Inquiry</h3>
                        <div class="row">
                            <div class="col-12 form-group">
                                <input type="text" class="form-control" name="name" id="name3" placeholder="Full Name">
                                <img src="{% static 'assets/img/icon/user.svg' %}" alt="">
                            </div>
                            <div class="col-12 form-group">
                                <input type="email" class="form-control" name="email" id="email3" placeholder="Your Mail">
                                <img src="{% static 'assets/img/icon/mail.svg' %}" alt="">
                            </div>
                            <div class="col-12 form-group">
                                <input type="text" class="form-control" name="phone_number" id="" placeholder="Your Phone Number">
                                <img src="{% static 'assets/img/icon/mail.svg' %}" alt="">
                            </div>
                            <div class="form-group col-12">
                                <textarea name="message" id="message" cols="30" rows="3" class="form-control" placeholder="Your Message"></textarea>
                                <img src="{% static 'assets/img/icon/chat.svg' %}" alt="">
                            </div>
                            <div class="form-btn col-12 mt-24"><button type="submit" class="th-btn style3">Submit Inquiry
                                    <img src="{% static 'assets/img/icon/plane.svg' %}" alt=""></button>
                            </div>
                        </div>
                        {% comment %} <p class="form-messages mb-0 mt-3"></p> {% endcomment %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!--==============================
Map Area  
==============================-->
<div class="">
    <div class="container-fluid">
        <div class="contact-map style2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3644.7310056272386!2d89.2286059153658!3d24.00527418490799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fe9b97badc6151%3A0x30b048c9fb2129bc!2sAngfuztheme!5e0!3m2!1sen!2sbd!4v1651028958211!5m2!1sen!2sbd" allowfullscreen="" loading="lazy"></iframe>
            <div class="contact-icon">
                <img src="assets/img/icon/location-dot3.svg" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock content %}